/* Reset */

html {
  font-size: 100%;
}

* {
  border: 0;
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

/* Style */

body {
  align-items: center;
  background-color: hsl(233, 47%, 7%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 0;
  position: relative;
  width: 100%;
}

main {
  align-items: center;
  background-color: hsl(244, 38%, 16%);
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  padding-bottom: 0.625rem;
  position: relative;
  width: 20rem;
}

.image-header, .image-header::after, .color-overlay {
  border-radius: 0.625rem 0.625rem 0 0;
  content: '';
  height: 15rem;
  width: 100%;
}
/* Using Pseudo-elements to overlay img and working with mix-blend-mode */
.image-header::after {
  background-image: url("../images/image-header-mobile.jpg");
  background-size: cover;
  mix-blend-mode: multiply;
  opacity: 0.78;
  position: absolute;
}

.color-overlay {
  background-color: hsl(277, 64%, 61%);
  position: absolute;
}

h1 {
  font-size: 1.77rem;
  padding: 2.25rem 1rem 1.5rem;
  text-align: center;
}

h1 span {
  color: hsl(277, 64%, 61%)
}

.description {
  font-size: 0.9rem;
  line-height: 1.35rem;
  opacity: 0.7;
  padding: 0 1.9rem 2rem;
  text-align: center;
}

.data-info {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.8rem;
  padding-bottom: 1.6rem;
  text-align: center;
  text-transform: uppercase;
}

.data-info span {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
  text-transform: initial;
}

.attribution {
  bottom: 0;
  font-size: 0.8rem;
  position: absolute;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  body {
    height: 100vh;
  }

  .main-container {
    flex-direction: row;
    justify-content: space-between;
    width: 65rem;
  }

  .image-header, .image-header::after, .color-overlay {
    border-radius: 0 0.625rem 0.625rem 0;
    height: 100%;
    order: 1;
    right: 0;
    top: 0;
    width: 50%;
  }

  .image-header::after {
    background-image: url("../images/image-header-desktop.jpg");
  }

  section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-left: 3rem;
    width: 50%;
  }

  .image-header {
    width: 20rem;
  }

  section .data-container {
    display: flex;
    gap: 4rem
  }

  h1, .description, .data-info {
    text-align: left;
  }

  h1 {
    padding: 4rem 0 2rem;
    width: 24rem;
    font-size: 2.2rem;
  }

  .description {
    font-size: 1rem;
    padding: 0;
    width: 24rem;
    opacity: 0.6;
    line-height: 1.5rem;
  }

  .data-info {
    font-size: 0.6rem;
    padding-top: 5rem;
  }
}
